@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('Bebas-Neue-Bold'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }